// cores
$cor-branco: #ededed;
$cor-btn-bg: #0000006e;
$cor-btn-bg-hover: #d4b37e;
$cor-btn-font: #ffffff;
$cor-btn-font-hover: #4e3212;
$cor-btn-bg-disabled: #3b3b3b52;
$cor-btn-font-disabled: #4b4b4b8c;

//formas
$borda: 10px;